body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5e1da; /* Nude pink */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #bb877a; /* Darker pink */
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: 25%; /* Set the initial size to 30% */
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px; /* Matches login/register page */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 10px; /* Matches login/register page */
}

.product h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #bb877a; /* Darker pink */
}

.product p {
    margin: 5px 0;
    color: #bb877a; /* Darker pink */
}

.product button {
    background-color: #bb877a; /* Darker pink */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #bb877a; /* Darker pink on hover */
}
