/* Hide the dropdown menus by default */
.dropdown-menu {
    display:none;
}

/* Show the dropdown menu when the parent is hovered */
.left-icons:hover .dropdown-menu{
    display: block;
}


/* Adjust the position and styling of the dropdown menu */
.dropdown-menu {
    position:absolute;
    background-color: #3E2D29;
    border: 1px solid #ccc;
    padding: 0px;
    z-index: 1000;
    width: 15%;
    height: 500%;
    align-items: center;
    
}

/* Style the links inside the dropdown menu */
.dropdown-menu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    align-items: center;
}

/* Change the background color of the links on hover */
.dropdown-menu a:hover {
    background-color: #f2f2f2;
}
